<footer class="footer py-3">
  <div class="max-w-7xl mx-auto px-4 py-10 grid grid-cols-1 md:grid-cols-3 gap-8">
    <div>
      <p class="text-sm mb-3">Follow us for updates and event highlights.</p>
      <div class="d-flex justify-content-center mb-3 gap-4">
        <a href="http://facebook.com" class="social-icon fs-4"><i class="bi bi-facebook"></i></a>
        <a href="http://x.com" class="social-icon fs-4"><i class="bi bi-twitter-x"></i></a>
        <a href="http://instagram.com" class="social-icon fs-4"><i class="bi bi-instagram"></i></a>
        <a href="http://linkedin.com" class="social-icon fs-4"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </div>

  <div class="bottom-bar text-center text-sm py-4">
    © EMS. All rights reserved.
  </div>
</footer>
