<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm px-4">
    <span class="navbar-brand fw-bold">Event Planner</span>

    <!-- <button 
      class="btn btn-theme ms-auto d-flex align-items-center gap-2" 
      (click)="toggleTheme()"
    >
      <i class="bi" [ngClass]="isDark ? 'bi-sun' : 'bi-moon'"></i>
      <span>{{ isDark ? 'Light Mode' : 'Dark Mode' }}</span>
    </button> -->

    
    <div class="ms-auto">
      <button class="btn btn-outline-danger btn-sm" (click)="logout()">Logout</button>
    </div>
  </nav>
  
